.soc {
    filter: invert(0);
}
.theme--dark .soc {
    filter: invert(1);
}
.theme--light .sidebar {
    border-right: 1px solid rgb(21, 32, 40);
}
.theme--light .form-style ul li .field-style {
    border-color: rgb(21, 32, 40);
    border-radius : 4px;
}
.theme--light .portfolio::before {
    border-color: rgb(21, 32, 40);
}

.theme--light .portfolio__description--left,
.theme--light .portfolio__description--right{
    background: white;
    box-shadow: 0 8px 16px grey;
}

.theme--light .post__footer {
    border-bottom-color: grey;
}
