<div
  class="sidebar{{ with .Site.Params.doNotLoadAnimations }}
    .
  {{ else }}
    animated fadeInDown
  {{ end }}"
>
  <div class="sidebar__content">
    <div class="sidebar__introduction">
      <img
        class="sidebar__introduction-profileimage"
        src="{{ .Site.Params.profilePicture | relURL }}"
        alt="profile picture"
      />
      {{ if .IsHome }}
        <h1 class="sidebar__introduction-title">
          <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Title }}</a>
        </h1>
      {{ else }}
        <div class="sidebar__introduction-title">
          <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Title }}</a>
        </div>
      {{ end }}
      <div class="sidebar__introduction-description">
        <p>{{ replace .Site.Params.description "\n" "<br />" | safeHTML }}</p>
      </div>
    </div>
      <ul class="sidebar__list">
            <li class="sidebar__list-item">
                {{ range $index, $key := .Site.Params.simpleIcon }}
                  {{ if ne $index 0 }}
                  {{ end }}

                  {{ if os.FileExists (printf "static/icons/%s.svg" $key.icon) }}
                <a rel="me" class="soc" href="{{ $key.url }}" title="{{ $key.name }}"><img  height="40" width="40"  src="/icons/{{ $key.icon}}.svg"></img></a>
                  {{ else }}
                <a  rel="me" class="soc" href="{{ $key.url }}" title="{{ $key.name }}"><img height="40" width="40"  src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/{{ $key.icon }}.svg"></img></a>
                  {{ end }}
                {{ end }}

                {{ range $item := .Site.Params.faIcon }}
                <a
                  href="{{ $item.url }}"
                  target="_blank"
                  rel="noopener me"
                  aria-label="{{ $item.title }}"
                  title="{{ $item.title }}"
                >
                  <i class="{{ $item.icon }} fa-3x" aria-hidden="true"></i>
                </a>
                {{ end }}
            </li>
      </ul>
  </div>
  {{- partial "footer.html" (dict "context" . "footerClassModifier" "sidebar") -}}
</div>
